html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

#main{
    background-color: #E7ECEF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow:hidden;
}

.page-title{
    padding: 0;
    margin: 0;

    background-color: rgba(231, 236, 239, 0.5);
    box-shadow: 0 5px 10px rgba(231, 236, 239, .5);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    text-align: center;
    color: #7CA5BD;
}

.node {
}

.link{
    stroke: #009CFA;
}

.container {
    display: inline-block;
    min-width: 200px;
    width: 400px;
    padding: 2px 2px 2px 70px;
    border: 1px solid transparent;

    box-sizing: border-box;

    border-radius: 32px;
}

.container.selected {
    background-color: #fafafa; 
    border: 1px solid #fff;
}


.image {
    max-height: 64px;
    max-width: 64px;
    margin-left:-68px;
    float: left;

    border-radius: 32px;

}

.title {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 23px;
    fill: #222;
    color: #222;

    white-space: nowrap;
}

.years{
    font: 14px 'Helvetica Neue';
    font-weight: bold;
    fill: #FF37C0;
    color: #FF37C0;
    white-space: nowrap;
}

.desc{
    font: 14px 'Helvetica Neue';
    color: #444;
    display:none;
}

.node.expanded .desc{
    display: block;
}
