body{
    background-color: #E7ECEF;
}

.page-title{
    text-align: center;
    color: #7CA5BD;
}



.node {
}

.link{
    stroke: #009CFA;
}

.title {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 23px;
    fill: #222;
}

.years{
    font: 14px 'Helvetica Neue';
    font-weight: bold;
    fill: #FF37C0;
}

.desc{
    font: 14px 'Helvetica Neue';
    color: #444;
}
