body{
    background-color: #999;
}

.node {
}

.link{
    stroke: #fff;
}

.title {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 23px;
    color: black;
}

.desc{
    max-width: 100px;
    font: 14px 'Helvetica Neue';
    margin-top: 5em;
}
