$bgcolor: #d2d2d2;

#main {
    background-color: $bgcolor;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow:hidden;

    .page-title{
        font: bold 2em 'Helvetica Neue';
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        line-height: 2em;
        height: 2em;
        width: 2em;
    }


    .link{
        stroke: #009CFA;
    }


    @import "./dashboard/_dashboard.scss";

}

